.About{
    justify-content: center;
    font: optional;
    padding-right: 10%;
}

.anos{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.line{
    justify-content: center;
    text-align: center;
}

.formas{
    display: flex;
}